<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GameServer.Properties.Settings.gameserverConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=gameserver;Persist Security Info=True;User ID=sa;Password=ce-86944"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>